/*Store this code in 'style.css' file inside the 'static' folder*/

.logincontent{
	margin: 0 auto;
	height: 500px;
	width: 400px;
	background-color: #e6ffee;
	border-radius: 10px;
}

.registercontent{
	margin: 0 auto;
	height: 720px;
	width: 400px;
	background-color: #e6ffee;
	border-radius: 10px;
}

.logintop{
	height: 60px;
	width: 400px;
	background-color: #3274d6;
	color: #ffffff;
}

.registertop{
	height: 60px;
	width: 400px;
	background-color: #3274d6;
	color: #ffffff;
}

.textbox {
	padding: 10px 40px;
	background-color: #3274d6;
	border-radius: 10px;
}

::placeholder {
	color: #FFFFFF;
	opacity: 1;
	font-style: oblique;
	font-weight: bold;
}
select {
	color: #FFFFFF;
	opacity: 1;
	font-style: oblique;
	font-weight: bold;
}
.btn {
	padding: 10px 40px;
	background-color: #3274d6;
	color: #FFFFFF;
	font-style: oblique;
	font-weight: bold;
	border-radius: 10px;
}

.worddark{
	color: #3274d6;
	font-style: oblique;
	font-weight: bold;
}

.wordlight{
	color: #FFFFFF;
	font-style: oblique;
	font-weight: bold;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}

.one{
	display: flex;
	position: relative;
}

.one .two{
	width: 225px;
	height: 100%;
	background: #3274d6;
	padding: 30px 0px;
	position: fixed;
}

.one .two h1{
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
	font-style: oblique;
	font-weight: bold;
}
		
.one .two h2{
	color: #fff;
	text-align: center;
}
		
.one .two .active{
	background: #4494d6;
}

.one .two ul li{
	text-align: center;
	padding: 15px;
	border-bottom: 0.1px solid white;
	border-top: 0.1px solid white;
}	

.one .two ul li a{
	color: #ffffff;
	display: block;
}
.one .two h1 a{
	color: #ffffff;
	display: block;
}
.one .two ul li a .side{
	width: 25px;
	text-align:center;
}

.one .content{
	width: 100%;
	margin-left: 200px;
}

.one .content .topbar{
	text-align: center;
	padding: 20px;
	background: #3274d6;
	color: white;
}
		
.one .content .contentbar{
	margin: auto;
}

.one .content .contentbar h1{
	color: #3274d6;
	text-align: center;
	font-style: oblique;
	font-weight: bold;
}
.simple-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.simple-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.simple-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}