<html lang="en">
    <head>
        <title>BharatReads - Customer Dashboard</title>
        <link rel="stylesheet" href="../static/style2.css">
        </head>
  
    <body bgcolor="#ffffff">
        <div class="one">
            <div class="two">
                <h1><a href="{{url_for('index_customer')}}">{{customer['name']}}</a></h1>
                <ul>
                    
                    <li><a href="{{url_for('browse_old_books')}}">Browse old books</a></li>
                    <li><a href="{{url_for('browse_new_books')}}">Browse new books</a></li>
                    <li><a href="{{url_for('customer_rentals')}}">My Rentals</a></li>
                    <li><a href="{{url_for('customer_new_book_purchases')}}">My New Book Purchases</a></li>
                    <li><a href="{{url_for('customer_old_book_purchases')}}">My Old Book Purchases</a></li>
                    <li class =active><a href="{{url_for('customer_sales')}}">My Sales</a></li>
                    <li><a href="{{url_for('customer_profile')}}">My Profile</a></li>
                    <li><a href="{{url_for('logout')}}">Log out</a></li>
                </ul> 
            </div>
            <div class="content" align="center">
                <div class="topbar">
                    <h2> BharatReads - Customer Dashboard</h2>                        
                </div></br></br>
                <div class="contentbar">
                    <h1>Your Old Book Sales</h1>    </br>
                <div class="msg">{{ msg }}</div> </br></br>
                {% if books  %}
                <div>
                    <table class ='simple-table'>
                        <tr>
                          <th>Old Book Id</th>
                          <th>Title</th>
                          <th>Author</th>
                          <th>Genre</th>
                          <th>Edition</th>
                          <th>Cost Price</th>
                          <th>Rental Price (INR / week)</th>
                          <th>Sales Price</th>
                          <th>Staff Name</th>
                        </tr>
                        {%for book in books%}
                        <tr>
                          <td>{{book['book_id']}}</td>
                          <td>{{book['title']}}</td>
                          <td>{{book['author']}}</td>
                          <td>{{book['genre']}}</td>
                          <td>{{book['edition']}}</td>
                          <td>{{book['cost_price']}}</td>
                          <td>{{book['rental_price']}}</td>
                          <td>{{book['sale_price']}}</td>
                          <td>{{book['staff_name']}}</td>
                        </tr>
                        {% endfor %}
                      </table>
                </div>
                {% endif %}
                </div>  
                  
            </div>
        </div>
       
    </body>
</html>