<html lang="en">
    <head>
        <title>BharatReads - Customer Dashboard</title>
        <link rel="stylesheet" href="../static/style2.css">
    </head>
  
    <body bgcolor="#ffffff">
        <div class="one">
            <div class="two">
                <h1><a href="{{url_for('index_customer')}}">{{customer['name']}}</a></h1>
                <ul>
                    
                    <li><a href="{{url_for('browse_old_books')}}">Browse old books</a></li>
                    <li><a href="{{url_for('browse_new_books')}}">Browse new books</a></li>
                    <li><a href="{{url_for('customer_rentals')}}">My Rentals</a></li>
                    <li><a href="{{url_for('customer_new_book_purchases')}}">My New Book Purchases</a></li>
                    <li><a href="{{url_for('customer_old_book_purchases')}}">My Old Book Purchases</a></li>
                    <li><a href="{{url_for('customer_sales')}}">My Sales</a></li>
                    <li><a href="{{url_for('customer_profile')}}">My Profile</a></li>
                    <li><a href="{{url_for('logout')}}">Log out</a></li>
                </ul> 
            </div>
            <div class="content" align="center">
                <div class="topbar">
                    <h2> BharatReads - Customer Dashboard</h2>                        
                </div></br></br>
                <div class="contentbar">
                     <div class="msg">{{ msg }}</div>
                </div>  
                  
            </div>
        </div>
    </body>
</html>