
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>BharatReads - Login Customer</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<style>
		body {
		  background-image: url("../static/books.jpg");
		  background-repeat: no-repeat;
		  background-attachment: fixed;  
		  background-size: cover;
		}
	</style>
	<body>
		<div class="login">
			<h1>BharatReads - Login as a Customer</h1>
			<div class="links">
				<a href="{{ url_for('login_customer') }}" class="active">Login as a Customer</a>
				<a href="{{url_for('register_customer')}}">Register as a Customer</a>
                <a href="{{url_for('login_staff')}}">Login as a Staff</a>
			</div>
			<form action="{{ url_for('login_customer') }}" method="post">
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Login">
			</form>
		</div>
	</body>
</html>